.flexbox-container {
    display: flex;
}

.flexbox-item {
    width: 400px;
    margin: 10px;
    border: 3px solid blueviolet;
    background-color: bisque;


}

.flexbox-item1 {
    min-height: 100px;


}

.flexbox-item2 {
    min-height: 200px;



}

.flexbox-item3 {
    min-height: 300px;
 

}