.flexbox-container {
    background-color: hotpink;
    border: 2px solid red;

}

.headings {
    color:white;
    background-color: lightpink;
    border: 5px solid red;
    padding: 15px;

}
.flexbox-item {
    border: 1px solid white;
    padding: 10px;
    margin: 10px;
    color: white;
    
    
}

.flexbox-item1 {
    


}

.flexbox-item2 {



}

.flexbox-item3 {


}

.flexbox-item4 {
    

}

.flexbox-item5 {


}